:root {
  --ifm-color-primary: #6e8efb;
  --ifm-color-primary-dark: #4f73fa;
  --ifm-color-primary-darker: #3f66f9;
  --ifm-color-primary-darkest: #1041f8;
  --ifm-color-primary-light: #8da9fc;
  --ifm-color-primary-lighter: #9db6fd;
  --ifm-color-primary-lightest: #cbdafe;
  --ifm-code-font-size: 95%;
}

[data-theme='dark'] .navbar__logo {
  filter: invert(1);
}

[data-theme='dark'] {
  --ifm-color-primary: #8da9fc;
  --ifm-color-primary-dark: #6e8efb;
  --ifm-color-primary-darker: #5e80fa;
  --ifm-color-primary-darkest: #2f57f9;
  --ifm-color-primary-light: #acc4fd;
  --ifm-color-primary-lighter: #bbd0fe;
  --ifm-color-primary-lightest: #eaf0ff;
}

/* Kovid Goyal Mode: cross out multiplexer cells in red */
html[data-kovid-mode] td[data-multiplexer],
html[data-kovid-mode] tr[data-multiplexer] td {
  position: relative;
}

html[data-kovid-mode] td[data-multiplexer]::before,
html[data-kovid-mode] th[data-multiplexer]::before,
html[data-kovid-mode] tr[data-multiplexer] td::before,
html[data-kovid-mode] td[data-multiplexer]::after,
html[data-kovid-mode] th[data-multiplexer]::after,
html[data-kovid-mode] tr[data-multiplexer] td::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
}

html[data-kovid-mode] td[data-multiplexer]::before,
html[data-kovid-mode] th[data-multiplexer]::before,
html[data-kovid-mode] tr[data-multiplexer] td::before {
  background: linear-gradient(
    to top right,
    transparent calc(50% - 1px),
    red calc(50% - 1px),
    red calc(50% + 1px),
    transparent calc(50% + 1px)
  );
}

html[data-kovid-mode] td[data-multiplexer]::after,
html[data-kovid-mode] th[data-multiplexer]::after,
html[data-kovid-mode] tr[data-multiplexer] td::after {
  background: linear-gradient(
    to bottom right,
    transparent calc(50% - 1px),
    red calc(50% - 1px),
    red calc(50% + 1px),
    transparent calc(50% + 1px)
  );
}
